---
// index.astro - Zephyr főoldal
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Ingredients from '../components/Ingredients.astro';
import Testimonials from '../components/Testimonials.astro';
import Shop from '../components/Shop.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dupla támogatás a másnap ellen">
  
  <Header />
  
  <main>
    <Hero />
    <Products />
    <HowItWorks />
    <Ingredients />
    <Testimonials />
    <Shop />
    <FAQ />
  </main>
  
  <Footer />
  
</Layout>
